.measurements-list-body {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin: 2%;
  float: right;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.measurements-list h2 {
  align-items: center;
  display: flex;
  justify-content: center;
}
