.search-form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.search-form :is(input, button) {
  margin: 0 5px;
}

.search-input {
  padding: 5px;
  width: 300px;
}

.search-btn {
  padding: 5px;
}
